html, body{
    
}

.wrapper{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

div.line{
    height: 10em;
    position: relative;
}

div.line p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div.button1 {

}